################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Zip.InstallmentsService/Zip.InstallmentsService/obj
/Zip.InstallmentsService/.vs
/Zip.InstallmentsService/Zip.InstallmentsService/bin/Debug/net6.0
